Repository Pandis02/KandidatarbeteGrupp16, pull requests merged in 2025-03, with the labels that each got.

#38 Alternate monitoring
  backend/src/main/java/kg16/demo/DemoApplication.java
  backend/src/main/java/kg16/demo/model/Services/CheckinService.java
  backend/src/main/java/kg16/demo/model/Services/ScanService.java
  backend/src/main/java/kg16/demo/model/services/TrackerService.java
  backend/src/main/java/kg16/demo/web/CheckinController.java
  backend/store.mv.db
Labels: Backend, Database

#48 Add database schema for notification system
  backend/src/main/resources/schema.sql
Labels: Database

#49 Recipient service
  backend/src/main/java/kg16/Utils.java
  backend/src/main/java/kg16/demo/model/Services/RecipientService.java
  backend/src/main/java/kg16/demo/model/dto/Recipient.java
  backend/src/main/java/kg16/demo/model/dto/Role.java
  backend/src/main/java/kg16/demo/model/exceptions/DuplicateException.java
  backend/src/main/java/kg16/demo/web/RecipientController.java
  backend/src/main/resources/schema.sql
  backend/src/main/resources/templates/recipients.html
  backend/src/test/java/kg16/demo/RecipientServiceTest.java
  backend/store.mv.db
Labels: Backend
